* {
    font-family: 'Poppins';
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: clear;
    padding: clear;
    /*hides scrollbar*/
    overflow-x: hidden;
    height: 100vh;
}

.container {
    background: white;
    margin-bottom: 1%;
    width: 100%;
    height: 200dvh;
}

/* Menu Bar */
.navBar {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.menu-bar {
    margin: 0;
    padding: 0;
    top: 20px;
    width: 100%;
}

.menu-icon {
    display: none;
}

.menu-bar ul {
    margin: 0;
    float: right;
    display: flex;
}

.menu-bar ul li {
    list-style-type: none;
}

.menu-bar ul li a {
    font-size: 120%;
    margin: 1em;
    display: block;
    cursor: pointer;
}

#profile {
    position: relative;
    left: 27%;
    top: 16px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:active,

a:hover {
    padding: 0 5px;
    border: 1px solid black;
}

img {
    max-width: 25%;
    /* height: auto; */
    /* width: 30%; */
    /* position: relative; */
}

/* Profile */

.profile_name,
.profile_stack {
    position: relative;
    bottom: 195px;
    left: 27%;
}

.profile_description {
    width: 26%;
    bottom: 193px;
    left: -3.5%;
    position: relative;
}

p {
    margin-left: 30.5%;
}

/*Icons*/


.social-icons {
    position: relative;
    top: -19dvh;
    cursor: pointer;
    /* margin: 0; */
    /* padding: 0; */
    width: 70%;
}

.social-icons svg {
    width: 3%;
    padding: 0;
}

.tech-stack {
    display: inline-flex;
    position: relative;
    bottom: 198px;
    /* height: 44px; */
    /* width: 100%; */
    left: 30%;
}

.tech-stack svg {
    position: relative;
    bottom: -27px;
    margin: 0px 13px;
    /* padding: 0; */
    height: 46px;
    width: 60%;
}

label {
    text-transform: uppercase;
    font-size: 141%;
    border-right: solid black 3px;
    height: 106px;
    padding: 35px 23px;
}

section {
    margin: 0;
    padding: 0;
}

.profile_about {
    text-align: left;
    width: 53%;
}

.profile_portfolio {
    height: 464px;
    margin: 20%;
    /* float: right; */
    text-align: right;
    /* position: relative; */
    /* top: 400px; */
}

.profile_contact {
    /* float: none; */
    /* height: 100%; */
    margin: 12%;
    /* margin-bottom: 25px; */
    /* position: relative; */
    text-align: center;
    top: 403px;
}

section {
    margin: 0;
    padding: 0;
}

.profile_about p {
    display: flex;
}

.profile_about h2 {
    margin: 1em 31%;
}



.social-git,
.social-linkedin {
    /* padding: 0; */
    /* margin: 0; */
    /* width: 122px; */
    display: inline;
}


.portfolio-links {
    display: inline-block;
    width: 140%;
    margin: 1em;
    margin-left: -11em;
}

.form-details label {
    border: none;
}

.profile_contact {
    border: 1px solid black;
}

textarea {
    width: 468px;
    margin-bottom: 10px;
    height: 100px;
}

input[type="submit"] {
    margin: 5px;
}

.portfolio-links a {
    width: 90%;
    margin: 0;
    padding: 0;
}

/* About Me Page */
.about_desc {
    width: 56%;
    bottom: 387px;
    left: 35.5%;
    position: relative;
}

#about_profile {
    position: relative;
    top: 16px;
    font-size: 130%;
}

#about_profile img {
    position: relative;
    top: 27px;
    left: 24%;
}

#about_profile h3 {
    position: relative;
    bottom: 409px;
    left: 53%;
}

#about_profile h2 {
    text-align: center;
}

/*Project Page */

.project_portfolio {
    /* height: 464px; */
    margin: 1% 12%;
}

.project_portfolio h2 {
    text-align: center;
}