* {
    font-family: 'Poppins';
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 01em;
    padding: clear;
    /*hides scrollbar*/
    overflow-x: hidden;
}

.container {
    background: #293042;
    width: 98%;
}

/* Menu Bar */
.navBar {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 114%;
    height: 103px;
    border: none;
    background: white;
}

.resume li {
    background: green;
    border: none;
    border-radius: 46px;
    height: 33px;
    padding: 0 13px;
}

.menu-bar {
    position: relative;
    margin: 0;
    padding: 0;
    top: 20px;
    width: 100%;
}

.logo img {
    float: left;
    width: 201px;
    margin: 0 19px;
    max-width: 25%;
}

.logo h3 {
    float: right;
    position: relative;
    left: -62px;
    top: 23px;
}

.menu-icon {
    display: none;
}

.menu-bar ul {
    margin: 0;
    float: right;
    display: flex;
}

.menu-bar ul li {
    list-style-type: none;
}

.menu-bar ul li a {
    font-size: 120%;
    margin: 1em;
    display: block;
    cursor: pointer;
}

#profile {
    margin-top: 102px;
    text-align: center;
    color: #d0cdcd;
    width: 100%;
    font-size: 125%;
}

.featured-button button {
    border: none;
    background: grey;
    cursor: pointer;
    border-radius: 12px;
    padding: 9px 20px;
    text-transform: uppercase;
}

.navBar a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navBar a:active,
.navBar a:hover {
    padding: 0 5px;
    background: #cccdd3;
    transition: 1s;
}

/* Profile */

.profile_description {
    width: 383px;
    text-align: justify;
    position: relative;
    left: 215px;
}

p {
    margin-left: 30.5%;
}

/*Icons*/

.social-icons {
    background: gray;
    cursor: pointer;
    /* margin: 0; */
    position: relative;
    width: 61px;
    border-radius: 45px;
    top: -241px;
    left: 9px;
}

.social-icons svg {
    width: 76%;
    margin: 12px 7px;
}

.tech-stack {
    display: inline-flex;
    position: relative;
    /* bottom: 198px; */
    color: #cccdd3;
    /* height: 44px; */
    /* width: 100%; */
    left: 134px;
    top: 150px;
}

.tech-stack svg {
    position: relative;
    bottom: -27px;
    margin: 0px 13px;
    /* padding: 0; */
    height: 46px;
    width: 60%;
}

label {
    text-transform: uppercase;
    font-size: 141%;
    border-right: solid #cccdd3 3px;
    height: 106px;
    padding: 35px 23px;
}

section {
    margin: 0;
    padding: 0;
}

.profile_about {
    text-align: left;
    width: 53%;
}

.profile_portfolio {
    height: 464px;
    margin: 20%;
    /* float: right; */
    text-align: right;
    /* position: relative; */
    /* top: 400px; */
}

.profile_contact {
    /* float: none; */
    /* height: 100%; */
    margin: 12%;
    /* margin-bottom: 25px; */
    /* position: relative; */
    text-align: center;
    top: 403px;
}

section {
    margin: 0;
    padding: 0;
}

.profile_about p {
    display: flex;
}

.profile_about h2 {
    margin: 1em 31%;
}



.social-git,
.social-linkedin {
    /* padding: 0; */
    /* margin: 0; */
    /* width: 122px; */
    display: inline;
}


.portfolio-links {
    display: flex;
    width: 140%;
    margin: 1em;
    margin-left: -11em;
}

.form-details label {
    border: none;
}

.profile_contact {
    border: 1px solid black;
}

textarea {
    width: 468px;
    margin-bottom: 10px;
    height: 100px;
}

input[type="submit"] {
    margin: 5px;
}

.portfolio-links a {
    width: 90%;
    margin: 0;
    padding: 0;
}

/* About Me Page */
.about_desc {
    width: 56%;
    bottom: 420px;
    left: 35.5%;
    position: relative;
}

#about_profile {
    /* position: relative; */
    top: 16px;
    font-size: 130%;
    color: #cccdd3;
}

#about_profile img {
    position: relative;
    bottom: -13px;
}

#about_profile h3 {
    position: relative;
    bottom: 430px;
    left: 53%;
}

#about_profile h2 {
    text-align: center;
}

.profile-background {
    background: #ffffffc2;
    margin: 0px 50px;
    width: 506px;
    position: relative;
    border-radius: 50%;
    left: 164px;
    top: 128px;
}

.about_social-icons {
    background: gray;
    cursor: pointer;
    position: relative;
    width: 61px;
    border-radius: 45px;
    top: -1030px;
    left: 9px;
}

.about_social-icons svg {
    width: 76%;
    margin: 12px 7px;
}

/*Project Page */

.project_portfolio {
    margin: 1% 12%;
    color: white;
}

.project_portfolio h2 {
    text-align: center;
}
 /* Contact Page */

.form-details {
    background: #cccdd3;
    margin: 100px;
    width: 750px;
    border: none;
    border-radius: 12px;
    position: relative;
    left: 25%;
}

form {
    text-align: center;
}
.commentsDIV label {
    position: relative;
    top: -52px;
}

.form-details h2 {
    margin-top: 8px;
}

.form-details input[type="submit"] {
    border: none;
    border-radius: 12px;
    margin-bottom: 15px;
}

.portfolio-links2 {
    display: flex;
    /* width: 66%; */
    /* margin: 0; */
    margin-left: -11em;
}
